*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in; }

html, body {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #262626;
  line-height: 1.5;
  height: 100%;
  max-height: 100vh; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

a, button, input {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px transparent;
  box-shadow: 0 0 0 2px transparent; }

a:focus,
button:focus,
input:focus {
  -webkit-box-shadow: 0 0 0 2px #ee7897;
  box-shadow: 0 0 0 2px #ee7897; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.title {
  font-size: 89px;
  line-height: 1.1; }

.form__field {
  padding: 17px;
  font-size: 15px; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 0 0 2px transparent;
  box-shadow: 0 0 0 2px transparent;
  min-width: 200px;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding: 14px 20px;
  border: none;
  position: relative; }
  .btn--orange {
    background-color: #ff6033; }
    .btn--orange:hover {
      color: #ff6033;
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 0 2px #ff6033;
      box-shadow: 0 0 0 2px #ff6033; }
    .btn--orange:active {
      background-color: #ee7897; }
  .btn--grey {
    background-color: #5585a2; }
    .btn--grey:hover {
      background-color: #ffffff;
      color: #5585a2;
      -webkit-box-shadow: 0 0 0 2px #5585a2;
      box-shadow: 0 0 0 2px #5585a2; }
    .btn--grey:active {
      background-color: #ee7897; }
  .btn--green {
    background-color: #96b92c; }
    .btn--green:hover {
      color: #96b92c;
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 0 2px #96b92c;
      box-shadow: 0 0 0 2px #96b92c; }
    .btn--green:active {
      background-color: #ee7897; }
  .btn--red {
    background-color: #f72b3b; }
    .btn--red:hover {
      color: #f72b3b;
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 0 2px #f72b3b;
      box-shadow: 0 0 0 2px #f72b3b; }
    .btn--red:active {
      background-color: #ee7897; }

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background-color: #f9f8fb;
  background-image: url(../image/img-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  padding: 45px 0;
  position: relative; }
  .header__lead {
    max-width: 385px; }
  .header__title {
    -bottom: 10px;
    font-size: 60px;
    font-weight: 800; }
  .header__description {
    margin-bottom: 25px; }

.logo__link {
  display: block; }
  .logo__link:hover {
    opacity: 0.8; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 235px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.burger-button {
  position: relative;
  width: 42px;
  height: 35px;
  visibility: hidden;
  background-color: inherit;
  border: none;
  padding: 0; }
  .burger-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  @media (max-width: 767px) {
    .burger-button {
      visibility: inherit; } }
  .burger-button__line {
    width: 100%;
    background-color: #000;
    height: 5px; }
    .burger-button__line:before, .burger-button__line:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 5px;
      left: 0;
      background-color: #000; }
    .burger-button__line:before {
      top: 0; }
    .burger-button__line:after {
      bottom: 0; }
    .burger-button__line--no-visibilite {
      background-color: inherit; }
      .burger-button__line--no-visibilite:after, .burger-button__line--no-visibilite:before {
        background-color: inherit; }
  .burger-button--active {
    background-image: url(../image/x-button.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .main-menu {
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-left: 0; }
    .main-menu--show {
      display: block;
      position: absolute;
      top: 9%;
      right: 30%; }
    .main-menu__link {
      padding: 12px 18px;
      display: block;
      position: relative;
      text-decoration: none;
      color: inherit; }
      @media (max-width: 767px) {
        .main-menu__link {
          padding: 10px 15px; } }
      .main-menu__link:before {
        position: absolute;
        top: 0;
        display: block;
        content: '';
        width: calc(100% - 36px);
        height: 3px;
        background-color: transparent; }
      .main-menu__link:hover::before {
        background-color: #ff6033; }
      .main-menu__link:active {
        background-color: #EFF2DA; }

.btn-scroll {
  display: block;
  width: 24px;
  height: 40px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 150px;
  left: 50%;
  background: url(../image/scroll.png) 50% no-repeat;
  background-size: cover; }
  .btn-scroll:hover {
    opacity: 0.8; }
  .btn-scroll:focus, .btn-scroll:active {
    border-radius: 25%; }

.section-about-us {
  background-color: #00b0b0;
  background-size: cover;
  padding: 70px 0; }
  @media (max-width: 767px) {
    .section-about-us {
      padding: 40px 0;
      text-align: center; } }

.about-us {
  color: #ffffff; }
  .about-us__img {
    -webkit-filter: drop-shadow(-20px 7px 50px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(-20px 7px 50px rgba(0, 0, 0, 0.3)); }
    @media (max-width: 575px) {
      .about-us__img {
        width: 60%;
        margin-left: auto;
        margin-right: auto; } }
  .about-us__info {
    padding-left: 12.2807%;
    padding-top: 100px; }
    @media (max-width: 1199px) {
      .about-us__info {
        padding-top: 50px;
        padding-left: 30px; } }
    @media (max-width: 991px) {
      .about-us__info {
        padding-left: 0;
        text-align: center; } }
    @media (max-width: 575px) {
      .about-us__info {
        padding-top: 20px;
        text-align: center;
        padding-left: 0; } }
  .about-us__title {
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .about-us__title {
        font-size: 50px;
        margin-bottom: 10px; } }
    @media (max-width: 575px) {
      .about-us__title {
        font-size: 30px;
        margin-bottom: 10px; } }
  @media (max-width: 575px) {
    .about-us__descr {
      font-size: 14px; } }
  .about-us__descr:not(:last-child) {
    margin-bottom: 10px; }

.section-service {
  background-color: #70bfff;
  padding: 100px 0 150px; }
  @media (max-width: 575px) {
    .section-service {
      padding: 20px 0;
      text-align: center; } }
  .section-service__item {
    width: 100%;
    margin-bottom: 30px; }
  .section-service__controls {
    padding-top: 75px; }
  .section-service__btn {
    background-color: #ffffff;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    min-height: 100px;
    width: 100%;
    padding-right: 120px;
    color: #262626;
    text-transform: capitalize;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section-service__btn::before {
      content: "";
      display: block;
      position: absolute;
      width: 100px;
      height: 100px;
      right: 0;
      top: 0;
      border-left: 1px solid #000;
      background-repeat: no-repeat;
      background-position: center; }
    .section-service__btn--shopping::before {
      background-image: url("../image/icon-shopping.svg"); }
    .section-service__btn--product::before {
      background-image: url("../image/icon-product.svg"); }
    .section-service__btn--delivery::before {
      background-image: url("../image/icon-delivery.svg"); }
    .section-service__btn--organized::before {
      background-image: url("../image/icon-organized.svg"); }
    .section-service__btn:hover {
      background-color: #2a82c9;
      color: #ffffff; }
    .section-service__btn:active {
      background-color: #ee7897; }
    .section-service__btn:last-child {
      margin-bottom: 0; }
  .section-service__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../image/img-service.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    text-align: right;
    min-height: 527px; }
    @media (max-width: 767px) {
      .section-service__info {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .section-service__title {
    color: #ffffff; }
    @media (max-width: 1199px) {
      .section-service__title {
        font-size: 80px;
        margin-bottom: 10px; } }
    @media (max-width: 991px) {
      .section-service__title {
        font-size: 60px;
        margin-bottom: 10px; } }
    @media (max-width: 575px) {
      .section-service__title {
        font-size: 40px;
        margin-bottom: 10px; } }

.section-gallery {
  background-color: #ffe92f;
  padding: 80px 0 120px;
  text-align: center; }
  @media (max-width: 991px) {
    .section-gallery {
      padding: 40px 0; } }
  .section-gallery__title {
    margin-bottom: 20px; }
    @media (max-width: 575px) {
      .section-gallery__title {
        font-size: 30px;
        margin-bottom: 10px; } }
  .section-gallery__lead {
    max-width: 600px;
    margin: 0 auto 45px; }
    @media (max-width: 1199px) {
      .section-gallery__lead {
        font-size: 14px; } }

.gallery {
  margin-bottom: 42px; }
  @media (max-width: 991px) {
    .gallery {
      margin-bottom: 30px; } }
  .gallery__item {
    margin-bottom: 30px; }
    @media (max-width: 991px) {
      .gallery__item {
        margin-bottom: 20px; } }
    @media (max-width: 575px) {
      .gallery__item {
        margin-bottom: 15px; } }

.section-subscribe-us {
  background-image: url("../image/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 130px 0 150px; }
  @media (max-width: 991px) {
    .section-subscribe-us {
      padding: 20px 0;
      text-align: center; } }
  .section-subscribe-us__title {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .section-subscribe-us__title {
        font-size: 30px;
        margin-bottom: 10px; } }
  .section-subscribe-us__desc {
    margin-bottom: 30px; }
    @media (max-width: 991px) {
      .section-subscribe-us__desc {
        font-size: 14px;
        margin-bottom: 10px; } }
  .section-subscribe-us__form-field {
    margin-right: 30px;
    width: 100%; }
    @media (max-width: 991px) {
      .section-subscribe-us__form-field {
        margin-bottom: 30px; } }
  .section-subscribe-us__button {
    min-width: 170px; }

.section-blog {
  background-color: #b07cf7;
  text-align: center;
  min-height: 865px;
  padding: 100px 0;
  color: #ffffff; }
  @media (max-width: 991px) {
    .section-blog {
      padding: 20px 0; } }

.blog {
  margin-bottom: 50px; }
  .blog__title {
    margin-bottom: 15px; }
    @media (max-width: 767px) {
      .blog__title {
        font-size: 30px;
        margin-bottom: 10px; } }
  .blog__lead {
    max-width: 570px;
    margin: 0 auto 40px; }
    @media (max-width: 767px) {
      .blog__lead {
        font-size: 14px; } }
  .blog-wrap {
    margin-bottom: 50px; }
  .blog-card {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    font-weight: 700; }
    @media (max-width: 991px) {
      .blog-card {
        margin-bottom: 30px;
        font-size: 12px; } }
    .blog-card:focus {
      -webkit-box-shadow: 0 0 0 2px #ee7897;
      box-shadow: 0 0 0 2px #ee7897; }
    .blog-card:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    .blog-card:active {
      opacity: 0.5; }
    .blog-card__img {
      width: 100%; }
    .blog-card__date {
      padding: 5px 10px;
      position: absolute;
      top: 8.1081%;
      left: 8.1081%;
      background-color: rgba(0, 0, 0, 0.3);
      font-size: 32px;
      line-height: 1;
      border-radius: 6px; }
      @media (max-width: 991px) {
        .blog-card__date {
          font-size: 26px; } }
      @media (max-width: 575px) {
        .blog-card__date {
          font-size: 20px; } }
    .blog-card__month {
      text-transform: uppercase;
      font-size: 21px; }
      @media (max-width: 575px) {
        .blog-card__month {
          font-size: 16px; } }
    .blog-card__info {
      padding: 20px 15px;
      position: absolute;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
      background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
      min-height: 50%;
      bottom: 0;
      left: 0;
      text-align: left;
      width: 100%; }
    .blog-card__title {
      font-size: 20px;
      margin-bottom: 20px; }
      @media (max-width: 767px) {
        .blog-card__title {
          font-size: 14px; } }
      @media (max-width: 575px) {
        .blog-card__title {
          font-size: 18px; } }
    .blog-card__descr {
      font-size: 13px;
      line-height: 2;
      font-weight: 400; }
      @media (max-width: 575px) {
        .blog-card__descr {
          font-size: 14px; } }

.section-contact {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background-image: url("../image/bg-contact.png");
  background-position: center center;
  background-size: cover;
  padding: 90px 0 120px; }
  @media (max-width: 991px) {
    .section-contact {
      padding: 30px 0; } }

.contact__title {
  margin-bottom: 10px;
  text-align: center; }
  @media (max-width: 991px) {
    .contact__title {
      font-size: 30px;
      margin-bottom: 10px; } }

.contact__lead {
  max-width: 370px;
  margin: 0 auto 35px;
  text-align: center; }
  @media (max-width: 991px) {
    .contact__lead {
      font-size: 14px; } }

.contact__info {
  padding-left: 70px; }
  @media (max-width: 991px) {
    .contact__info {
      padding-left: 0; } }
  .contact__info-subtitle {
    text-transform: uppercase; }
  .contact__info-text {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.2; }
  .contact__info-link {
    text-decoration: none;
    color: inherit; }
    .contact__info-link:hover, .contact__info-link:focus {
      color: #000333;
      text-decoration: underline; }

.form-feedback {
  max-width: 500px;
  color: #ffffff; }
  @media (max-width: 991px) {
    .form-feedback {
      margin-bottom: 30px; } }
  .form-feedback__field {
    background-color: rgba(0, 196, 196, 0.5);
    margin-bottom: 15px;
    border: none;
    border-left: 5px solid transparent;
    width: 100%; }
    .form-feedback__field:last-child {
      margin-bottom: 15px; }
    .form-feedback__field::-webkit-input-placeholder {
      color: #ffffff; }
    .form-feedback__field:-ms-input-placeholder {
      color: #ffffff; }
    .form-feedback__field::-ms-input-placeholder {
      color: #ffffff; }
    .form-feedback__field::placeholder {
      color: #ffffff; }
    .form-feedback__field:focus {
      border-left: 5px solid #355b82;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: #00c4c4;
      font-weight: 700; }
    .form-feedback__field:hover {
      border-left: 5px solid #355b82; }
    .form-feedback__field--fixed-width {
      resize: vertical;
      outline: none; }

.footer {
  background-color: #262626;
  color: #b9b9b9;
  padding: 30px 0; }
  @media (max-width: 991px) {
    .footer__item {
      margin-bottom: 30px; } }
  .footer__copyright {
    font-size: 16px; }
    @media (max-width: 991px) {
      .footer__copyright {
        text-align: center; } }
  .footer__text-author {
    font-size: 15px;
    text-align: right; }
    @media (max-width: 991px) {
      .footer__text-author {
        text-align: center; } }
  .footer-logo__link {
    color: #f12b55;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer-logo__link:hover {
      text-decoration: underline; }
    .footer-logo__link:active {
      background-color: #ee7897; }
