*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

html,
body {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #262626;
  line-height: 1.5;
  height: 100%;
  max-height: 100vh; }

.un-scroll {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

a,
button,
input {
  outline: none; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.title {
  font-size: 89px;
  line-height: 1.1; }

.form__field {
  padding: 17px;
  font-size: 15px; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 0 0 3px transparent;
  box-shadow: 0 0 0 3px transparent;
  min-width: 200px;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  padding: 14px 20px;
  border: 1px solid transparent;
  position: relative;
  -webkit-tap-highlight-color: transparent; }
  .btn--orange {
    background-color: #ff6033; }
    .btn--orange:focus {
      -webkit-box-shadow: 0 0 0 3px rgba(255, 120, 82, 0.5);
      box-shadow: 0 0 0 3px rgba(255, 120, 82, 0.5); }
    .btn--orange:hover {
      color: #ff6033;
      background-color: #ffffff;
      border-color: #ff6033; }
    .btn--orange:active {
      background-color: #e6e6e6; }
  .btn--grey {
    background-color: #5585a2; }
    .btn--grey:focus {
      -webkit-box-shadow: 0 0 0 3px rgba(111, 151, 176, 0.5);
      box-shadow: 0 0 0 3px rgba(111, 151, 176, 0.5); }
    .btn--grey:hover {
      color: #5585a2;
      background-color: #ffffff;
      border-color: #5585a2; }
    .btn--grey:active {
      background-color: #e6e6e6; }
  .btn--green {
    background-color: #96b92c; }
    .btn--green:focus {
      -webkit-box-shadow: 0 0 0 3px rgba(166, 196, 76, 0.5);
      box-shadow: 0 0 0 3px rgba(166, 196, 76, 0.5); }
    .btn--green:hover {
      color: #96b92c;
      background-color: #ffffff;
      border-color: #96b92c; }
    .btn--green:active {
      background-color: #e6e6e6; }
  .btn--red {
    background-color: #f72b3b; }
    .btn--red:focus {
      -webkit-box-shadow: 0 0 0 3px rgba(254, 223, 226, 0.5);
      box-shadow: 0 0 0 3px rgba(254, 223, 226, 0.5); }
    .btn--red:hover {
      color: #f72b3b;
      background-color: #ffffff;
      border-color: #f72b3b; }
    .btn--red:active {
      background-color: #e6e6e6; }

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: inherit; }
  .header--bg-active {
    background-color: #ffffff; }
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 145px; }
    @media (max-width: 767px) {
      .header__wrap {
        min-height: 70px; } }
  .header__logo {
    position: relative;
    z-index: 5; }

.logo {
  display: block; }
  .logo--center {
    text-align: center; }
  .logo:hover {
    opacity: 0.8; }

.burger-button {
  outline: none;
  border-color: transparent;
  background-color: transparent; }
  @media (max-width: 767px) {
    .burger-button {
      display: block;
      position: relative;
      z-index: 5;
      width: 42px;
      height: 35px; }
      .burger-button__line, .burger-button:before, .burger-button:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: #262626;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
      .burger-button__line {
        top: 50%;
        -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
        transform: scale(1) translate(0, -50%); }
        .burger-button__line--active {
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0); }
      .burger-button:before, .burger-button:after {
        content: ""; }
      .burger-button:before {
        top: 0; }
      .burger-button:after {
        bottom: 0; }
      .burger-button--active:before {
        top: 50%;
        -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
        transform: rotate(-45deg) translate(0, -50%); }
      .burger-button--active:after {
        bottom: 50%;
        -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
        transform: rotate(45deg) translate(0, 50%); } }

@media (max-width: 767px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 70px 30px 30px 30px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); }
    .nav:before {
      content: "";
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      height: 70px;
      z-index: 2;
      overflow: hidden;
      background-color: #ffffff;
      height: 70px; }
    .nav--active {
      left: 0; } }

.menu-list {
  list-style: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding-left: 0; }
  @media (min-width: 767px) {
    .menu-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .menu-list__item {
    position: relative; }
    .menu-list__item:hover .menu-list__sub-list {
      opacity: 1;
      visibility: inherit;
      pointer-events: all;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    @media (max-width: 767px) {
      .menu-list__item {
        padding: 10px 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .menu-list__item:last-child {
          margin-bottom: 0; } }
  .menu-list__link {
    padding: 12px 18px;
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit; }
    @media (max-width: 1199px) {
      .menu-list__link {
        padding: 8px 12px; } }
    @media (max-width: 767px) {
      .menu-list__link {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 10px 15px;
        color: #fff;
        font-size: 20px; } }
    .menu-list__link:focus {
<<<<<<< HEAD
      color: #a4a0a0; }
=======
      font-weight: 400; }
>>>>>>> 65436aa311a66e7482f052fa56cd689ac73be7d6
      @media (max-width: 767px) {
        .menu-list__link:focus {
          background-color: #ffffff;
          color: #262626; } }
    @media (max-width: 767px) {
      .menu-list__link:hover {
        background-color: #ffffff;
        color: #262626; } }
    .menu-list__link:before {
      position: absolute;
      top: 0;
      display: block;
      content: "";
      width: 0;
      height: 3px;
      background-color: #ff6033;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .menu-list__link:focus::before {
<<<<<<< HEAD
      background-color: #a4a0a0;
=======
      background-color: #262626;
>>>>>>> 65436aa311a66e7482f052fa56cd689ac73be7d6
      width: calc(100% - 36px);
      -webkit-transition: none;
      -o-transition: none;
      transition: none; }
      @media (max-width: 1199px) {
        .menu-list__link:focus::before {
          width: calc(100% - 24px); } }
      @media (max-width: 767px) {
        .menu-list__link:focus::before {
          width: 0; } }
    .menu-list__link:hover::before {
      width: calc(100% - 36px); }
      @media (max-width: 1199px) {
        .menu-list__link:hover::before {
          width: calc(100% - 24px); } }
      @media (max-width: 767px) {
        .menu-list__link:hover::before {
          width: 0; } }
    .menu-list__link:active {
<<<<<<< HEAD
      color: #a4a0a0; }
=======
      font-weight: 400; }
>>>>>>> 65436aa311a66e7482f052fa56cd689ac73be7d6
      @media (max-width: 767px) {
        .menu-list__link:active {
          background-color: #bfbfbf; } }
  .menu-list__arrow {
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in; }
    @media (max-width: 767px) {
      .menu-list__arrow {
        display: block;
        border-top-color: #ffffff; } }
  .menu-list__sub-list {
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    min-width: 200px; }
    @media (min-width: 767px) {
      .menu-list__sub-list {
        opacity: 0;
        -webkit-transform: translate(0, 10%);
        -ms-transform: translate(0, 10%);
        transform: translate(0, 10%);
        visibility: hidden;
        pointer-events: none;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; } }
    @media (max-width: 767px) {
      .menu-list__sub-list {
        position: relative;
        background-color: #ffffff;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-top: 20px;
        display: none; }
        .menu-list__sub-list--active {
          opacity: 1;
          visibility: inherit;
          pointer-events: all;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); } }
    .menu-list__sub-list:hover {
      opacity: 1;
      visibility: inherit;
      pointer-events: all;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    .menu-list__sub-list--active {
      display: block; }
  .menu-list__sub-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    color: #262626;
    text-transform: initial;
    padding: 10px; }
    @media (max-width: 767px) {
      .menu-list__sub-link {
        font-size: 18px;
        color: #262626; } }
    .menu-list__sub-link:focus {
      color: #737373; }
    .menu-list__sub-link:hover {
      background-color: #262626;
      color: #ffffff; }
    .menu-list__sub-link:active {
      background-color: #595959; }

.home {
  background-color: #f9f8fb;
  background-image: url(../image/img-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 350px 0 75px; }
  @media (max-width: 767px) {
    .home {
      background-image: none;
      padding: 185px 0 40px 0; } }
  .home__lead {
    margin-bottom: 290px; }
    @media (max-width: 767px) {
      .home__lead {
        margin-bottom: 80px;
        text-align: center; } }
  .home__title {
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 800; }
  .home__description {
    margin-bottom: 25px; }

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.btn-scroll {
  display: block;
  width: 24px;
  height: 40px;
  border: 2px solid #262626;
  border-radius: 40%;
  margin: auto;
  -webkit-box-shadow: 0 0 0 3px transparent;
  box-shadow: 0 0 0 3px transparent; }
  .btn-scroll:before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 11px;
    background-color: #000;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  .btn-scroll:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(38, 38, 38, 0.5);
    box-shadow: 0 0 0 3px rgba(38, 38, 38, 0.5); }
  .btn-scroll:hover {
    opacity: 0.5; }
  .btn-scroll:active {
    border-radius: 20%; }

.section-about-us {
  background-color: #00b0b0;
  background-size: cover;
  padding: 70px 0; }
  @media (max-width: 767px) {
    .section-about-us {
      padding: 40px 0;
      text-align: center; } }

.about-us {
  color: #ffffff; }
  .about-us__img {
    -webkit-filter: drop-shadow(-20px 7px 50px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(-20px 7px 50px rgba(0, 0, 0, 0.3)); }
    @media (max-width: 575px) {
      .about-us__img {
        width: 60%;
        margin-left: auto;
        margin-right: auto; } }
  .about-us__info {
    padding-left: 12.2807%;
    padding-top: 100px; }
    @media (max-width: 1199px) {
      .about-us__info {
        padding-top: 50px;
        padding-left: 30px; } }
    @media (max-width: 991px) {
      .about-us__info {
        padding-left: 0;
        text-align: center; } }
    @media (max-width: 575px) {
      .about-us__info {
        padding-top: 20px;
        text-align: center;
        padding-left: 0; } }
  .about-us__title {
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .about-us__title {
        font-size: 50px;
        margin-bottom: 10px; } }
    @media (max-width: 575px) {
      .about-us__title {
        font-size: 30px;
        margin-bottom: 10px; } }
  @media (max-width: 575px) {
    .about-us__descr {
      font-size: 14px; } }
  .about-us__descr:not(:last-child) {
    margin-bottom: 10px; }

.section-service {
  background-color: #70bfff;
  padding: 100px 0 150px; }
  @media (max-width: 991px) {
    .section-service {
      padding: 70px 0;
      text-align: center; } }
  @media (max-width: 767px) {
    .section-service {
      padding: 40px 0; } }
  .section-service__item {
    width: 100%; }
  .section-service__controls {
    padding-top: 75px; }
    @media (max-width: 991px) {
      .section-service__controls {
        padding-top: 0; } }
  .section-service__btn {
    background-color: #ffffff;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    min-height: 80px;
    width: 100%;
    padding: 10px 120px 10px 20px;
    color: #262626;
    text-transform: capitalize;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none; }
    @media (max-width: 767px) {
      .section-service__btn {
        font-size: 14px;
        padding: 10px 80px 10px 10px;
        min-height: 70px; } }
    .section-service__btn::before {
      content: "";
      display: block;
      position: absolute;
      width: 100px;
      height: 100%;
      right: 0;
      top: 0;
      border-left: 1px solid #000;
      background-repeat: no-repeat;
      background-position: center; }
      @media (max-width: 767px) {
        .section-service__btn::before {
          width: 80px; } }
      @media (max-width: 575px) {
        .section-service__btn::before {
          width: 60px; } }
    .section-service__btn--shopping::before {
      background-image: url("../image/icon-shopping.svg"); }
    .section-service__btn--product::before {
      background-image: url("../image/icon-product.svg"); }
    .section-service__btn--delivery::before {
      background-image: url("../image/icon-delivery.svg"); }
    .section-service__btn--organized::before {
      background-image: url("../image/icon-organized.svg"); }
    .section-service__btn:focus {
      -webkit-box-shadow: 0 0 0 3px rgba(223, 236, 247, 0.5);
      box-shadow: 0 0 0 3px rgba(223, 236, 247, 0.5); }
    .section-service__btn:hover {
      background-color: #2a82c9;
      color: #ffffff; }
    .section-service__btn:active {
      background-color: #21679f; }
    .section-service__btn:last-child {
      margin-bottom: 0; }
  .section-service__info {
    background-image: url(../image/img-service.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: contain;
    padding: 32% 0; }
    @media (max-width: 1199px) {
      .section-service__info {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media (max-width: 991px) {
      .section-service__info {
        background-image: none;
        padding: 50% 0; } }
    @media (max-width: 767px) {
      .section-service__info {
        padding: 66% 0; } }
    @media (max-width: 575px) {
      .section-service__info {
        padding: 0; } }
  .section-service__title {
    color: #ffffff; }
    @media (max-width: 1200px) {
      .section-service__title {
        font-size: 88px;
        text-align: center; } }
    @media (max-width: 1199px) {
      .section-service__title {
        font-size: 78px; } }
    @media (max-width: 991px) {
      .section-service__title {
        font-size: 48px; } }
    @media (max-width: 767px) {
      .section-service__title {
        font-size: 37px; } }
    @media (max-width: 575px) {
      .section-service__title {
        font-size: 40px;
        margin-bottom: 20px; } }

.section-gallery {
  background-color: #ffe92f;
  padding: 80px 0 120px;
  text-align: center; }
  @media (max-width: 767px) {
    .section-gallery {
      padding: 40px 0; } }
  .section-gallery__title {
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .section-gallery__title {
        font-size: 50px;
        margin-bottom: 10px; } }
    @media (max-width: 575px) {
      .section-gallery__title {
        font-size: 30px;
        margin-bottom: 10px; } }
  .section-gallery__lead {
    max-width: 600px;
    margin: 0 auto 45px; }

.gallery {
  margin-bottom: 42px; }
  @media (max-width: 991px) {
    .gallery {
      margin-bottom: 30px; } }
  .gallery__item {
    margin-bottom: 30px; }

.section-subscribe-us {
  background-image: url("../image/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 130px 0 150px; }
  @media (max-width: 991px) {
    .section-subscribe-us {
      padding: 40px 0;
      text-align: center; } }
  @media (max-width: 575px) {
    .section-subscribe-us {
      background-image: none; } }
  .section-subscribe-us__title {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .section-subscribe-us__title {
        font-size: 30px;
        margin-bottom: 10px; } }
  .section-subscribe-us__desc {
    margin-bottom: 30px; }
  .section-subscribe-us__form-field {
    margin-right: 30px;
    width: 100%; }
    @media (max-width: 991px) {
      .section-subscribe-us__form-field {
        margin-bottom: 15px; } }
  .section-subscribe-us__button {
    min-width: 170px; }

.section-blog {
  background-color: #b07cf7;
  text-align: center;
  padding: 90px 0 115px;
  color: #ffffff; }
  @media (max-width: 991px) {
    .section-blog {
      padding: 40px 0; } }

.blog__title {
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .blog__title {
      font-size: 30px;
      margin-bottom: 10px; } }

.blog__lead {
  max-width: 570px;
  margin: 0 auto 40px; }
  @media (max-width: 767px) {
    .blog__lead {
      font-size: 14px; } }

.blog-wrap {
  margin-bottom: 50px; }
  @media (max-width: 991px) {
    .blog-wrap {
      margin-bottom: 20px; } }

.blog-card {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
  font-weight: 700; }
  @media (max-width: 991px) {
    .blog-card {
      margin-bottom: 30px;
      font-size: 12px; } }
  .blog-card:focus {
    -webkit-box-shadow: 0 0 0 2px #ee7897;
    box-shadow: 0 0 0 2px #ee7897; }
  .blog-card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  .blog-card:active {
    opacity: 0.5; }
  .blog-card__img {
    width: 100%; }
  .blog-card__date {
    padding: 5px 10px;
    position: absolute;
    top: 8.1081%;
    left: 8.1081%;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 32px;
    line-height: 1;
    border-radius: 6px; }
    @media (max-width: 991px) {
      .blog-card__date {
        font-size: 26px; } }
    @media (max-width: 575px) {
      .blog-card__date {
        font-size: 20px; } }
  .blog-card__month {
    text-transform: uppercase;
    font-size: 21px; }
    @media (max-width: 575px) {
      .blog-card__month {
        font-size: 16px; } }
  .blog-card__info {
    padding: 20px 15px;
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%; }
  .blog-card__title {
    font-size: 20px;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .blog-card__title {
        font-size: 14px; } }
    @media (max-width: 575px) {
      .blog-card__title {
        font-size: 16px; } }
  .blog-card__descr {
    font-size: 13px;
    line-height: 2;
    font-weight: 400; }
    @media (max-width: 575px) {
      .blog-card__descr {
        font-size: 14px; } }

.section-contact {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background-image: url("../image/bg-contact.png");
  background-position: center center;
  background-size: cover;
  padding: 90px 0 120px; }
  @media (max-width: 991px) {
    .section-contact {
      padding: 30px 0;
      background-image: none;
      background-color: #ffbef4; } }

.contact__title {
  margin-bottom: 10px;
  text-align: center; }
  @media (max-width: 991px) {
    .contact__title {
      font-size: 30px;
      margin-bottom: 10px; } }

.contact__lead {
  max-width: 370px;
  margin: 0 auto 35px;
  text-align: center; }
  @media (max-width: 991px) {
    .contact__lead {
      font-size: 14px; } }

.contact__info {
  padding-left: 70px; }
  @media (max-width: 991px) {
    .contact__info {
      padding-left: 0; } }
  .contact__info-subtitle {
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .contact__info-subtitle {
        font-size: 16px; } }
  .contact__info-text {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.2; }
    @media (max-width: 767px) {
      .contact__info-text {
        font-size: 14px; } }
  .contact__info-link {
    text-decoration: none;
    color: inherit; }
    .contact__info-link:hover, .contact__info-link:focus {
      color: #000333;
      text-decoration: underline; }

.form-feedback {
  max-width: 500px;
  color: #ffffff; }
  @media (max-width: 991px) {
    .form-feedback {
      margin-bottom: 30px; } }
  .form-feedback__field {
    background-color: rgba(0, 196, 196, 0.5);
    margin-bottom: 15px;
    border: none;
    border-left: 5px solid transparent;
    width: 100%; }
    .form-feedback__field:last-child {
      margin-bottom: 15px; }
    .form-feedback__field::-webkit-input-placeholder {
      color: #ffffff; }
    .form-feedback__field:-ms-input-placeholder {
      color: #ffffff; }
    .form-feedback__field::-ms-input-placeholder {
      color: #ffffff; }
    .form-feedback__field::placeholder {
      color: #ffffff; }
    .form-feedback__field:focus {
      border-left: 5px solid #355b82;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: #00c4c4;
      font-weight: 700; }
    .form-feedback__field:hover {
      border-left: 5px solid #355b82; }
    .form-feedback__field--fixed-width {
      resize: vertical;
      outline: none; }

.footer {
  background-color: #262626;
  color: #b9b9b9;
  padding: 30px 0; }
  .footer__item {
    display: block; }
    @media (max-width: 575px) {
      .footer__item {
        margin-bottom: 10px; } }
  .footer__copyright {
    font-size: 16px; }
    @media (max-width: 991px) {
      .footer__copyright {
        text-align: center; } }
  .footer__text-author {
    font-size: 15px;
    text-align: right; }
    @media (max-width: 991px) {
      .footer__text-author {
        text-align: center; } }
  .footer__link {
    color: #f12b55;
    text-decoration: none; }
    .footer__link:hover {
      text-decoration: underline; }
    .footer__link:active {
      background-color: #ee7897; }
