*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	transition: all .1s ease-in;
}

html, body{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #262626;
	line-height: 1.5;
	height: 100%;	
	max-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

a, button, input {
	outline: none;
	box-shadow: 0 0 0 2px transparent;
}

a:focus,
button:focus,
input:focus {
	box-shadow: 0 0 0 2px #ee7897;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

.header {
	flex: 0 1 auto;
	background-color: #f9f8fb;
	background-image: url(../image/img-header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1000px;
	padding: 45px 0;
	position: relative;
}

.logo {
	min-width: 130px;
}

.logo__link {
	display: block;
}

.logo__link:hover {
	opacity: 0.8;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 235px;
	justify-content: space-between;
	align-items: center;
}

.main-menu {
	list-style: none;
	display: flex;
	flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding-left: 0;
}

.main-menu__link {
	padding: 12px 18px;
	display: block;
	position: relative;
	text-decoration: none;
	color: inherit;
}

.main-menu__link:before {
	position: absolute;
	top: 0;
	display: block;
	content: '';
	width: calc(100% - 36px);
	height: 3px;
	background-color: transparent;
}

.main-menu__link:hover::before {
	background-color: #ff6033;
}

.main-menu__link:active{
	background-color: #EFF2DA;
}

.header__lead {
	max-width: 385px;
}

.header__title {
	margin-bottom: 10px;
	font-size: 60px;
	font-weight: 800;
}

.header__description {
	margin-bottom: 25px;
}

.button {
	display: inline-flex;
	justify-content: center;
	box-shadow: 0 0 0 2px transparent;
	min-width: 200px;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	padding: 14px 20px;
	border: none;
	position: relative;
}

.button--orange {
	background-color: #ff6033;
}

.button--orange:hover {
	color: #ff6033;
	background-color: #fff;
	box-shadow: 0 0 0 2px #ff6033;
}

.button--orange:active {
	background-color: #ee7897;
}

.btn-scroll {
	display: block;
	width: 24px;
	height: 40px;
	transform: translateX(-50%);
	position: absolute;
	bottom: 150px;
	left: 50%;
	background: url(../image/scroll.png) 50% no-repeat;
	background-size: cover;
}

.btn-scroll:hover {
	opacity: 0.8;
}

.main {
	flex: 1 1 auto;
}

.section-about-us {
	background-color: #00b0b0;
	background-size: cover;
	padding: 70px 0;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.about-us__img {
	filter: drop-shadow(-20px 7px 50px rgba(0,0,0,0.3));
}

.about-us {
   color: #fff;
}

.about-us__info {
	padding-left: 12.2807%;
	padding-top: 100px;
}

.title {
	font-size: 90px;
	line-height: 1.1;
}

.about-us__title {
	margin-bottom: 20px;
}

.about-us__descr:not(:last-child) {
	margin-bottom: 10px;
}

.section-service {
	background-color: #70bfff;
	padding: 100px 0 150px;
}

.service__controls {
	padding-top: 75px;
	padding-left: 17.54386%;	
}

.service__button {
	background-color: #fff;
	margin-bottom: 20px;
	font-weight: 700;
	text-align: center;
	min-height: 100px;
	width: 400px;
	padding-right: 120px;
	color: #262626;
	text-transform: capitalize;
	align-items: center;
}

.service__button::before {
	content: "";
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid #000;
	background-repeat: no-repeat;
	background-position: center;

}

.service__button--shopping::before {
	background-image: url('../image/icon-shopping.svg');
}

.service__button--product::before {
	background-image: url('../image/icon-product.svg');
}

.service__button--delivery::before {
	background-image: url('../image/icon-delivery.svg');
}

.service__button--organized::before {
	background-image: url('../image/icon-organized.svg');
}

.service__button:hover {
	background-color: #2a82c9;
	color: #fff;
}

.service__button:active {
	background-color: #ee7897;
}

.service__button:last-child {
	margin-bottom: 0;
}

.service__info {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: url(../image/img-service.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	text-align: right;
	min-height: 527px;
}

.service__title {
	color: #fff;	
}

.section-gallery {
	flex: 0 1 auto;
	background-color: #ffe92f;
	padding: 80px 0 120px;
	text-align: center;
}

.gallery__title {
	margin-bottom: 20px;
}

.gallery__lead {
	max-width: 600px;
	margin: 0 auto 45px;
}

.gallery__wrap {
	margin-bottom: 42px;
}

.button--grey {
	background-color: #5585a2;
}

.button--grey:focus {
	box-shadow: 0 0 0 4px #ee7897;
}

.button--grey:hover {
	background-color: #fff;
	color: #5585a2;
}

.button--grey:active {
	background-color: #ee7897;
}

.section-subscribe-us {
	flex: 0 1 auto;
	background-image: url('../image/bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	padding: 130px 0 150px;
}

.subscribe-us__title {
	font-size: 40px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.subscribe-us__desc {
	max-width: 545px;
	margin-bottom: 25px;
}

.form-subscribe-us {
	display: flex;
	flex-wrap: wrap;
}

.field-forms {
	padding: 14px;
	font-size: 15px;
}

.form-subscribe-us__field {
	margin-right: 30px;
	flex-basis: 570px;
	flex-grow: 0;
	flex-shrink: 1;
}

.form-subscribe-us__button {
	background-color: #96b92c;
	flex-basis: 170px;
	flex-grow: 0;
	flex-shrink: 1;
	min-width: 170px;
	box-shadow: 0 0 0 4px transparent;
}

.form-subscribe-us__button:focus {
	box-shadow: 0 0 0 4px #ee7897;
}

.form-subscribe-us__button:hover {
	background-color: #fff;
	color: #96b92c;
}

.form-subscribe-us__button:active {
	background-color: #ee7897;
}

.section-blog {
	flex: 0 1 auto;
	background-color: #b07cf7;
	text-align: center;
	padding: 90px 0 120px;
	color: #fff;
}

.blog__title {
	margin-bottom: 15px;
}

.blog__lead {
	max-width: 570px;
	margin: 0 auto 40px;
}

.blog__row {
	margin-bottom: 50px;
}

.blog-card {
	position: relative;
}

.blog-card__link {
	display: block;
   text-decoration: none;
   color: inherit;
   box-shadow: 0 0 0 4px transparent;
}

.blog-card__link:focus {
	box-shadow: 0 0 0 4px #ee7897;
}

.blog-card__link:hover {
	box-shadow: 2px 2px 1px 5px #000;
}

.blog-card__link:active {
	opacity: 0.5;
}

.blog-card__date {
	padding: 5px 10px;
	position: absolute;
	top: 11%;
	right: 74%;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 32px;
	line-height: 0.8;
	font-weight: 700;
	border-radius: 6px;
}

.blog-card__month {
	font-size: 21px;
	line-height: 1.15;
}

.blog-card__desc-article {
	padding: 15px 30px 15px 15px;
	position: absolute;
	height: 40%;
	/*background: -webkit-linear-gradient(0deg, rgb(38, 38, 38), rgb(255, 255, 255) 50%);
	background: -moz-linear-gradient(0deg, rgb(38, 38, 38), rgb(255, 255, 255) 50%);
	background: linear-gradient(0deg, rgb(38, 38, 38), rgb(255, 255, 255) 50%);
	*/bottom: 0;
	text-align: left;
}

.blog-card__article-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.15;
	margin-bottom: 20px;
	
}

.blog-card__time-write {
	font-size: 13px;
	line-height: 2;
}

.button--red {
	background-color: #f72b3b;
	box-shadow: 0 0 0 4px transparent;
}

.button--red:focus {
	box-shadow: 0 0 0 4px #ee7897;
}

.button--red:hover {
	background-color: #fff;
	color: #f72b3b;
}

.button--red:active {
	background-color: #ee7897;
}

.section-contact {
	flex: 0 1 auto;
	background-image: url('../image/bg-contact.png');
	background-position: center center;
	background-size: cover;
	padding: 90px 0 120px;
}

.contact__title {
	margin-bottom: 10px;
	text-align: center;
}

.contact__lead {
	max-width: 370px;
	margin: 0 auto 35px;
	text-align: center;
}

.contact__row {
	margin-bottom: 20px;
}

.form-feedback {
	display: flex;
	flex-direction: column;
	margin-right: 70px;
}

.form-feedback__field {
	background-color: #76DADC;
	opacity: 0.5;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 500px;
	margin-bottom: 15px;
	border: none;
	border-left: 5px solid transparent;
	color: #fff;
	font-weight: 700;
}

.form-feedback__field:last-child {
	margin-bottom: 0;
}

.form-feedback__field::placeholder {
	color: #fff;
}

.form-feedback__field:focus-visible {
	opacity: 1;
	border-left: 5px solid #355b82;
}

.form-feedback__field--fixed-width {
	resize: none;
}

.contact-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: start;
}

.contact-info__text {
	font-size: 20px;
	text-align: left;
	margin-bottom: 15px;
	line-height: 1.2;
}

.footer {
	flex: 0 0 auto;
	background-color: #262626;
	color: #b9b9b9;	
	padding: 30px 0;
}

.row-flex--center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__text-date {
	font-size: 16px;
}

.footer__text-autor {
	font-size: 15px;
}

.footer__link {
	color: #f12b55;
	box-shadow: 0 0 0 7px transparent;
	text-decoration: none;
}

.footer__link:focus {
box-shadow: 0 0 0 4px #ee7897;
}

.footer__link:hover {
	color: #2e2;
}

.footer__link:active {
	background-color: #ee7897;
}

